doctype xml
html(xmlns = 'https://www.w3.org/1999/xhtml')
  head
    meta(charset = 'utf-8')
      link(rel = 'stylesheet' href = './style.css')
  body
    p
      h1 Hello, World!!
    div
      button#close Close
    script(type = 'text/javascript')
      | require('./script.js')
